<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> User Stories Quality Analyzer </title>

  <!-- Bootstrap core CSS -->
  <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <style>
    .challenge.container {
      width:100%;
      padding:0;
    }
  </style>

</head>

<body style="background-color: #DFDFDF">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Start Menu</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://forms.gle/r36oSg2PvDyLtqQy5"target="_blank">Webpage Survey</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->

        <h1 class="mt-5" style="color:black"> <center><b>About this software</b></center></h1>
        <p style="text-align:justify; max-width:600px; margin:auto; padding-bottom:30px;"> As part of Master’s Degree of Information Technology in the Instituto Tecnológico de Tijuana with the Idea of the Ph.D. SAMANTHA PAULINA JIMENEZ CALLEROS with experience and leadership in Human - Computer software and with the objective to help formed and train the new generation of developers with Scrum Methodology we build a web page the lets you write user story's and validate if the enter story is a valid or needs correction’s in the first version it verifies 3 points: well-formed, completeness, ambiguity emphasizing in the polysemy words in users Story's.</p>
<center>

  <h2 class="mt-5" style="color:black"> <center><b>Development Team</b></center></h2>
<p></p>
        <p><b>Claudio Israel Beltrán Bustos</b></p>
        <p>Systems and Computing Department</p>
        <p>Tijuana Institute of Technology</p>
        <p>Tijuana, Baja California </p>
        <p>claudio.beltran@tectijuana.edu.mx </p>
<p></p>
        <p><b>Jenniffer Deyanira Castillo Vargas</b></p>
        <p>Systems and Computing Department</p>
        <p>Tijuana Institute of Technology</p>
        <p>Tijuana, Baja California </p>
        <p>jenniffer.castillo@tectijuana.edu.mx </p>
<p></p>
        <p><b>Luis Alberto Partida Ramírez</b></p>
        <p>Systems and Computing Department</p>
        <p>Tijuana Institute of Technology</p>
        <p>Tijuana, Baja California </p>
        <p>m21210016@tectijuana.edu.mx</p>

</center>
<script src="static/jquery/jquery.slim.min.js"></script>
<script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</html>
